<app-headers titulo="Grid"></app-headers>

<ion-content>
  <ion-grid fixed> <!--con fixed mantendra el ancho de las tarjetas dependiendo las dimenciones del dispositivo, asi como agregarle un padding-->
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]"> <!--size-lg define el tamaño de la columna de la pantallas muy grandes, aplica las que necesita si no aplicara la de size-->
        
        <ion-card>
          <ion-img src="assets/stan-lee.jpg"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>