<app-headers titulo="Infinite Scroll"></app-headers>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label>item {{i+1}}</ion-label>
    </ion-item>
  </ion-list>

  <!--Comunmente el infinite scroll va al final del contenido, contrario al refresher-->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="false"><!--el threshold emite un evento cuando se le hace scroll hacia abajo y callback(ionInfinite) lo cacha, con el disabled en true se le indica que no se ejecute el spinner-->
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>